:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-icon-wrapper: #f3f9fa;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
.link {
  text-decoration: none;
}

.link--arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link--arrow::after {
  content: "-->";
  margin-left: 0.5rem;
  transition: margin-left 0.3s;
}

.link--arrow:hover::after {
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .link--arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border: 1px solid black;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.6rem 2rem;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.6rem 1.5rem;
}

.badge--primary {
  background-color: var(--color-primary);
  border: 0;
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  border: 0;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
    padding: 0.6rem 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
  }
}

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
}

.list__item {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
}

.list--inline .list__item {
  display: inline;
}

.list--tick {
  color: var(--color-headings);
  list-style-image: url(../images/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  font-weight: 500;
  padding-left: 0.7rem;
}

@media screen and (min-width: 1024px) {
  .list__item {
    font-size: 1.6rem;
  }

  .list--tick .list__item {
    font-size: 1.8rem;
    padding-left: 0.5rem;
  }
}

/* Icons */
.icon-wrapper {
  align-items: center;
  background-color: var(--color-icon-wrapper);
  border-radius: 50%;
  display: inline-flex;
  height: 54px;
  justify-content: center;
  padding: 1rem;
  width: 54px;
}

.icon-wrapper--dark {
  background-color: #393939; /* FIXME: Use sass */
}

.icon {
  fill: #fff;
  height: 44px;
  width: 44px;
}

.icon--primary {
  fill: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .icon-wrapper {
    height: 44px;
    padding: 0.8rem;
    width: 44px;
  }

  .icon {
    height: 38px;
    width: 38px;
  }
}

/* Inputs */
.input {
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 2rem;
  color: var(--color-headings);
  outline: none;
  padding: 2.4rem 4.6rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Buttons */
.btn {
  border: 0;
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 2.2rem 5rem;
}

.btn--stretched {
  padding: 2.2rem 8.5rem;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--outline {
  background-color: #fff;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}

.btn--icon {
  display: flex;
  position: relative;
  padding-left: 7rem;
  align-items: center;
  justify-content: flex-end;
}

.btn--icon .icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 3rem;
}

.btn--secondary:hover {
  background-color: #00c5e7; /*FIXME: Use sass */
}

.btn--accent:hover {
  background-color: #e43104; /*FIXME: Use sass */
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Input Groups */
.input-group {
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  padding: 0.4rem;
}

.input-group .input {
  border: 0;
}

/* Cards */
.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
}
