<div class="card plan plan--primary">
  <div class="card__header plan__header">
    <span class="plan__title">Business</span>
    <span class="plan__price">$54</span>
    <span class="plan__rental-month">/month</span>
    <span class="badge badge--primary">10% OFF</span>
    <span class="plan__caption">Easy start on the cloud</span>
  </div>
  <div class="card__body">
    <ul class="list list--tick plan__items">
      <li class="list__item">Unlimited Websites</li>
      <li class="list__item">Unlimited Bandwidth</li>
      <li class="list__item">100 GB Storage</li>
      <li class="list__item">3 GB RAM</li>
    </ul>

    <a class="btn btn--outline btn--block">Get Started</a>
  </div>
</div>
