<div class="card grid grid--1x2 testimonial">
  <div class="card__header">
    <span class="icon-wrapper icon-wrapper--accent testimonial__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#quotes"></use>
      </svg>
    </span>
    <img
      class="testimonial__img"
      src="images/testimonial.jpg"
      alt="A happy customer face."
    />
  </div>
  <div class="card__body">
    <p class="quote">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
      consequuntur autem repellat tempora quis doloremque praesentium veniam,
      assumenda veritatis amet nesciunt quae sed magnam animi deserunt.
    </p>
    <div class="media-object">
      <div class="media__img">
        <svg class="icon icon--primary icon--medium">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__heading">Jhone Lumeo</h3>
        <p class="media__text">Mosh Company CEO</p>
      </div>
    </div>
  </div>
</div>
